{{ with .Params.external_links }}
<div class="mw8 center">
  <section class="mt3">



  {{range .}}

  <div class="relative w-100 mb4 bg-near-white">
    <div class="relative w-100 bg-inherit nested-copy-line-height">
      <div class="mb3 pa4 black overflow-hidden">

      <span class="dib fl w-25 mr4">
        <img src="{{ .image }}" />
      </span>
      <a href="{{.link}}" class="f3 link accent-color dim">
        {{.title}} {{ partial "global/external-link.html" . }}
      </a>
      <p class="black f5 nested-links lh-copy">{{.copy}}</p>
    </div>
    </div>
    </div>
  {{end}}




  </section>
</div>
{{ end }}
