{{ with .Params.external_links }}
<div class="mw8 center">
  <section class="mt3">
    {{range .}}
      <div class="relative w-100 mb4 bg-near-white">
        <div class="relative w-100 bg-inherit nested-copy-line-height">
          <div class="mb3 pa4 black flex flex-wrap-ns overflow-hidden">
            <span class="dib w-100 w-30-ns">
              <img src="{{ .image }}" />
            </span>
            <div class="pl4 w-100 w-70-ns">
              <a href="{{.link}}" class="f3 link accent-color dim">
                {{.title}} {{ partial "global/external-link.html" . }}
                </a>
              <p class="black f5 nested-links lh-copy">{{.copy}}</p>
            </div>
          </div>
        </div>
      </div>
    {{end}}
  </section>
</div>
{{ end }}
