{{ define "main" }}
  <article class="cf">
    <div class="measure-l center f3 lh-copy nested-copy-line-height nested-links nested-img mid-gray site-font">
      {{ .Content }}
    </div>
  </article>
  <div class="mw8 center">
    <section class="mt5">
      {{ range  (.Paginator 30).Pages }}
        <div class="relative w-100 mb4 bg-near-white">
          <div class="relative w-100 bg-inherit nested-copy-line-height">
            <div class="mb3 pa4 black overflow-hidden">
              {{ with .Params.images }}
              <span class="dib fl w-25 mr4">
                <img src="{{ index . 0 }}" />
              </span>
              {{ end }}
              {{ with .Params.category }}
              <span class="f6 db">{{ . }}</span>
              {{ end }}
              <h1 class="f3 near-black">
                <a href="{{ .Params.link_to_original }}" class="link accent-color dim">
                  {{ .Title }} {{ partial "global/external-link.html" . }}
                </a>
              </h1>
              <h2 class="f5 i">{{ .Params.where_published }}</h2>
              <div class="nested-links f5 lh-copy black nested-copy-line-height">
                {{ .Description }}
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    </section>
  {{ template "_internal/pagination.html" . }}
  </div>
{{ end }}
