{{ define "main" }}
  <article class="page-list_defaultT px-8 mx-auto">
    <h1>{{ .Title }}</h1>
  </article>
  <div class="max-w-xl mx-auto">
    <section class="mt5">
      {{ range  (.Paginator 30).Pages }}
        <div class="relative w-full mb-8 bg-grey-lighter">

          <div class="relative w-full bg-inherit nested-copy-line-height">
            <div class="mb-3 p-4 text-black overflow-hidden flex flex-wrap">
              {{ with .Params.images }}
              <div class="inline-block w-full md:w-1/4">
                <img src="{{ index . 0 }}" class="w-full"/>
              </div>
              {{ end }}
              <div class="w-full md:w-3/4">
                <div class="p-4">
                  {{ with .Params.category }}
                  <span class="text-xs block font-sans">{{ . }}</span>
                  {{ end }}
                  <h1 class="text-xl text-grey-darker">
                    <a href="{{ .Params.link_to_original }}" class="text-red no-underline dim">
                      {{ .Title }}                   
                      &nbsp;{{ partial "external-link.html" . }}                  
                    </a>
                  </h1>
                  {{with .Params.where_published }}
                    <h2 class="text-sm i">{{ .}}</h2>
                  {{end}}
                  <div class="nested-links f5 lh-copy black nested-copy-line-height">
                    {{ .Description }}
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    </section>
  {{ template "_internal/pagination.html" . }}
  </div>
{{ end }}
