{{ define "main" }}
  <article class="cf pa3 pa4-m pa4-l">
    <div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links nested-img mid-gray">
      {{ .Content }}
    </div>
  </article>
  <div class="mw8 center">
    {{ $section := where .Data.Pages "Section" .Section }}
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range  $section }}
        <div class="relative w-100  mb4 bg-white">


          <div class="relative w-100 mb4 bg-inherit nested-copy-line-height">
            <div class="mb3 pa4 black overflow-hidden">
              <span class="f6 db">{{ humanize .Section }}</span>
              <h1 class="f3 near-black">
                <a href="{{ .Params.link_to_original }}" class="link black dim">
                  {{ .Title }} {{ partial "global/external-link.html" . }}
                </a>
              </h1>
              <h2 class="f4">{{ .Params.where_published }}</h2>
              <div class="nested-links f5 lh-copy black nested-copy-line-height">
                {{ .Description }}
              </div>
            </div>
          </div>


        </div>
      {{ end }}
    </section>
  {{ template "_internal/pagination.html" . }}
  </div>
{{ end }}
