{{/* <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"> */}}
{{/* <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet"> */}}
{{/* <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"> */}}

{{/* <link href="https://fonts.googleapis.com/css?family=Work+Sans:700" rel="stylesheet"> */}}

{{/* <link href="https://fonts.googleapis.com/css?family=Play:700" rel="stylesheet"> */}}
<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

<style>
.site-font, .serif {
  font-family: 'Slabo 27px', sans-serif;
}
</style>
