{{/* <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"> */}}
{{/* <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet"> */}}
{{/* <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"> */}}

{{/* <link href="https://fonts.googleapis.com/css?family=Work+Sans:700" rel="stylesheet"> */}}

{{/* <link href="https://fonts.googleapis.com/css?family=Play:700" rel="stylesheet"> */}}
<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>
.site-font, sans-serif {
  font-family: 'Roboto','PT Serif', sans-serif;
}
</style>
