<div class="flex flex-wrap mx-auto pt-16 px-32">
  <div class="w-full lg:w-1/2">
    <div class="text-white text-4xl p-8">
        {{.Description }}
        <a href="{{ .URL }}" class="block text-red hover:text-white text-xl text-right no-underline mr-8">Read More &blacktriangleright;</a>
    </div>
    <div class="mt-8 md:hidden xl:block text-grey buylinks">
      {{ partial "books/buylinks_array.html" (dict "item" . "count" "1") }}
    </div>
  </div>
  <div class="w-full lg:w-1/2">
    <div class="px-16">
      {{- partial "books/cover.html" . -}}
    </div>
  </div>

{{/*  <div class="mt-8 px-8 mx-auto hidden md:block xl:hidden">
  {{ partial "books/buylinks_array.html" (dict "item" . "count" "1") }}
</div>  */}}
</div>