<div class="flex flex-wrap mx-auto md:pt-16 md:px-32">
  <div class="w-full lg:w-1/2">
    <div class="text-white text-2xl md:text-4xl p-8">
        {{.Description }}
        <a href="{{ .URL }}" class="block text-red hover:text-white text-xl text-right no-underline mr-8">Read More &blacktriangleright;</a>
    </div>
    <div class="mt-8 hidden md:block text-grey buylinks">
      {{ partial "books/buylinks_array.html" (dict "item" . "count" "1") }}
    </div>
  </div>
  <div class="w-full lg:w-1/2">
    <div class="px-16">
      {{ with $.Param "home_page_notice" }}              
        <div class="text-white text-xl text-center font-sans">
          {{ . }}
        </div>
      {{ end }}
      {{- partial "books/cover.html" . -}}
    </div>
    <div class="mt-8 px-8 mx-auto md:hidden text-grey block buylinks mb-4">
      {{ partial "books/buylinks_array.html" (dict "item" . "count" "1") }}
    </div>
  </div>
</div>