.facebook, .twitter, .instagram, .youtube {
  fill: #BABABA;
  color: #BABABA;
}
.facebook:hover {
  fill: #3b5998;
  color: #3b5998;
}

.twitter:hover {
  fill: #55acee;
  color: #55acee;
}

.instagram:hover {
  fill: #e95950;
  color: #e95950;
}

.youtube:hover {
  fill: #bb0000;
  color: #bb0000;
}

.color > .facebook:hover,.color >  .twitter:hover,.color >  .instagram:hover,.color >  .youtube:hover {
  fill: #BABABA;
  color: #BABABA;
}
.color > .facebook {
  fill: #3b5998;
  color: #3b5998;
}

.color > .twitter {
  fill: #55acee;
  color: #55acee;
}

.color > .instagram {
  fill: #e95950;
  color: #e95950;
}

.color > .youtube {
  fill: #bb0000;
  color: #bb0000;
}
